[Desktop Entry]
Encoding=UTF-8
Name=Text editor JuffEd
Name[ru]=Текстовый редактор JuffEd
Name[pl]=Edytor tekstu JuffEd
Name[de]=Texteditor JuffEd
Name[fr]=Éditeur de texte JuffEd
Name[pt]=Editor de texto JuffEd
Comment=Simple text editor
Comment[ru]=Простой текстовый редактор
Comment[pl]=Prosty edytor tekstu
Comment[de]=Ein einfacher Texteditor
Comment[fr]=Un simple éditeur de texte
Comment[pt]=Editor de texto simples
Exec=juffed
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=juffed
Categories=Qt;Utility;TextEditor;
GenericName=Simple text editor
GenericName[ru]=Простой текстовый редактор
GenericName[pl]=Prosty edytor tekstu
GenericName[de]=Ein einfacher Texteditor
GenericName[fr]=Un simple éditeur de texte
GenericName[pt]=Editor de texto simples
X-SuSE-translate=true
