Source: juffed
Priority: optional
Maintainer: Mikhail Murzin <mezomish@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.15~), cmake, libqt4-dev (>= 4.5), libqscintilla2-dev (>= 2.4)
Standards-Version: 3.9.0
Section: editors
Homepage: http://juffed.com

Package: juffed
Section: editors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: enca
Description: Lightweight yet powerful Qt4 text editor
 JuffEd is a simple, cross-platform text editor written using the Qt4 toolkit
 and the QScintilla library. It supports most features found in modern text
 editors, including syntax highlighting, bracket matching, switching encodings,
 sessions, and a plugin API.

Package: juffed-plugins
Section: editors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, juffed
Description: Plugins for JuffEd
 for extending its functionality.

Package: juffed-dev
Section: editors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, juffed
Description: Header files for JuffEd
 for writing own plugins.
