Package: juffed
Version: @VERSION
Section: editors
Priority: optional
Architecture: @ARCH
Depends: libqt4-core (>= 4.2), libqt4-gui (>= 4.2), libqscintilla2-3 (>= 2.1)
Installed-Size: @SIZE
Maintainer: Mikhail Murzin <mezomish@gmail.com>
Description: Advanced text editor (Qt4)
 
 Some of the features:
  * multi-document interface (tabs);
  * syntax highlighting;
  * charset selection;
  * find/replace using regular expressions;
  * sessions support;
  * code blocks folding
  * line markers
  * international languages support
 
 Homepage: http://sourceforge.net/projects/juffed/
