Source: juffed
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           ChangZhuo Chen (陳昌倬) <czchen@debian.org>
Section: editors
Priority: optional
Build-Depends: debhelper (>= 11~),
               cmake,
               libenca-dev,
               libqscintilla2-qt6-dev,
               pkg-config,
               qt6-5compat-dev,
               qt6-tools-dev,
               qt6-tools-dev-tools
Standards-Version: 4.1.5
Vcs-Browser: https://salsa.debian.org/lxqt-team/juffed
Vcs-Git: https://salsa.debian.org/lxqt-team/juffed.git
Homepage: http://juffed.com

Package: juffed
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: juffed-plugins,
            enca
Description: Lightweight yet powerful Qt text editor
 JuffEd is a simple, cross-platform text editor written using the Qt toolkit
 and the QScintilla library. It supports most features found in modern text
 editors, including syntax highlighting, bracket matching, switching encodings,
 sessions, and a plugin API.
 .
 This package contains the JuffEd editor.

Package: juffed-dev
Architecture: any
Section: devel
Depends: ${misc:Depends},
         juffed (= ${binary:Version})
Description: Lightweight yet powerful Qt text editor - development files
 JuffEd is a simple, cross-platform text editor written using the Qt toolkit
 and the QScintilla library. It supports most features found in modern text
 editors, including syntax highlighting, bracket matching, switching encodings,
 sessions, and a plugin API.
 .
 This package contains development files for plugin building.

Package: juffed-plugins
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         juffed (= ${binary:Version})
Description: Lightweight yet powerful Qt text editor - plugins
 JuffEd is a simple, cross-platform text editor written using the Qt toolkit
 and the QScintilla library. It supports most features found in modern text
 editors, including syntax highlighting, bracket matching, switching encodings,
 sessions, and a plugin API.
 .
 This package contains the following plugins:
  * Autosave
  * Color Picker
  * Document List
  * Favorites
  * Find In Files
  * File manager
  * Key bindings
  * Sort Document
  * Symbol Browser
  * XML Formatter
